---
layout: default
title: Home
permalink: /
---

<h1>FIE Refereeing Exam Practice</h1>

<p>I created this website to assist myself in preparing for the theoretical portion of the FIE refereeing exam:</p>
<ul>
  <li>Go to the <a href="{{ '/practice/' | relative_url }}"{% if page.url == '/practice/' %} class="active" aria-current="page"{% endif %}>practice</a> page to take the exam with several options.</li>
  <li>Go to the <a href="{{ '/documents/' | relative_url }}"{% if page.url == '/documents/' %} class="active" aria-current="page"{% endif %}>documents</a> page to review the current rules.</li>
</ul>